<!--
 * Copyright [2023] [Estefania Espinoza]
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * This source code file was created by [Estefania Espinoza] and contains original code
 * created by me and my colleagues
 *
 * Contributions by:
 * - [Jonathan Rivera Vasquez]: [Refactoring of the structure]
 -->

@{
    ViewData["Title"] = "Acerca";
}

<div class="carousel-container">
    <div class="carousel-slide">
        <img src="~/img/Public/carrusel1.jpg" alt="imagen 1">
    </div>
    <div class="carousel-slide">
        <img src="~/img/Public/carrusel2.jpg" alt="imagen 2">
    </div>
    <div class="carousel-slide">
        <img src="~/img/Public/carrusel3.jpg" alt="imagen 3">
    </div>
</div>

<section id="about">
    <div class="black-section">
        <h1>Hotel & Veterinaria - Cuidados los Patitos</h1>
    </div>

    <h2>¡Bienvenido a tu hotel veterinaria para mascotas de confianza!</h2>

    <div class="description">
        <p>
            En Los Patitos S.A, entendemos lo importante que son las mascotas en nuestras vidas. Nuestro objetivo es
            brindar un entorno cálido
            y acogedor donde todas las mascotas se sientan como en casa. Desde perros y gatos hasta aves exóticas y
            pequeños roedores, atendemos
            a mascotas de todo tipo con amor y cuidado. Nuestro equipo de veterinarios altamente capacitados y amantes
            de los animales está comprometido con la salud y el bienestar de tus seres queridos peludos, emplumados o
            escamosos. Ya sea que necesites un chequeo de rutina, tratamiento médico o atención especializada, estamos
            aquí para ayudar.
        </p>
    </div>
    <div class="container-info">
        <div class="container-info-items">
            <h3>Mision</h3>
            <p>En Cuidados los Patitos S.A, nos dedicamos a proporcionar un refugio seguro y afectuoso para las mascotas, donde su bienestar es nuestra máxima prioridad. Nuestra misión es brindar un entorno cómodo y enriquecedor, ofreciendo servicios de hospedaje y atención veterinaria de calidad excepcional. Valoramos la salud, la felicidad y la conexión entre las mascotas y sus dueños, trabajando con pasión y compromiso para asegurarnos de que cada peludito se sienta amado y cuidado en todo momento.</p>
        </div>
        <div class="container-info-items">
            <h3>Vision</h3>
            <p>Cuidados los Patitos S.A", aspiramos a ser líderes en la industria de cuidado de mascotas, reconocidos por nuestra dedicación inquebrantable al bienestar animal y la excelencia en el servicio. Nuestra visión es crear un sitio que se sienta como un hogar, donde los peluditos y otras mascotas sean atendidos con amor, respeto y conocimientos veterinarios de vanguardia. Buscamos establecer una relación de confianza con los dueños, colaborando estrechamente para asegurar la salud a largo plazo y la alegría de cada mascota. A medida que crecemos, aspiramos a expandir nuestros servicios y contribuir activamente a la promoción de la tenencia responsable de mascotas en nuestra comunidad.</p>
        </div>
        <div class="container-info-items">
            <h3>Valores</h3>
            <ul>
                <li>Amor y Cuidado</li>
                <li>Seguridad y Bienestar</li>
                <li>Profesionalismo Veterinario</li>
                <li>Comunicación Transparente</li>
                <li>Diversión y Estimulación</li>
            </ul>
        </div>
    </div>

</section>
