<!--
 * Copyright [2023] [Allan Umana]
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * This source code file was created by [Allan Umana] and contains original code
 * created by me and my colleagues
 *
 * Contributions by:
 * - [Jonathan Rivera Vasquez]: [Refactoring of the structure]
 -->

@{
    ViewData["Title"] = "Contacto";
}

<section id="contact">
    <div class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.174112588735!2d-84.10638748963963!3d10.00247259006181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fbbf37a55645%3A0x39b78e1cd735995a!2sLos%20Patitos!5e0!3m2!1ses!2scr!4v1689482190291!5m2!1ses!2scr"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="contact-info">
        <h1>Información de Contacto</h1>
        <div class="contact-info-container">
            <div>
                <p>
                    <img src="~/img/Public/ubi.jpg" alt="Icono" class="icon">
                    <strong>Dirección:</strong> Heredia, San Pablo, Hotel Cuidados los Patitos
                </p>

                <p>
                    <img src="~/img/Public/mail.jpg" alt="Icono" class="icon">
                    <strong>Email: </strong>info@cuidadoslospatitos.com
                </p>

                <p>
                    <img src="~/img/Public/telefono.jpg" alt="Icono" class="icon">
                    <strong>Teléfono:</strong> 2222-2222
                </p>

                <p>
                    <img src="~/img/Public/whatsapp.jpg" alt="Icono" class="icon">
                    <strong>Whatsapp: </strong>8626-3603
                </p>

                <p>
                    <img src="~/img/Public/instagram.jpg" alt="Icono" class="icon">
                    <strong>Instagram: </strong>&#64cuidadoslospatitos
                </p>
            </div>
            <div class="contact-image">
                <img src="~/img/Public/perro2.jpg" alt="Imagen de contacto">
            </div>
        </div>
    </div>
</section>