<!--
 * Copyright [2023] [Ayram Tolentino]
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * This source code file was created by [Ayram Tolentino] and contains original code
 * created by me and my colleagues
 *
 * Contributions by:
 * - [Jonathan Rivera Vasquez]: [Refactoring of the structure]
 -->

@{
    ViewData["Title"] = "Habitaciones";
}

<div class="parallax2-bg">
    <section id="room">

        <div class="black-section">
            <h1>¡Conoce Nuestras Habitaciones!</h1>
        </div>
        <div class="text-container">
            <p>
                ¿Planeas irte de vacaciones? ¡Trae a tu querido peludito con nosotros para que disfrute de unas
                merecidas vacaciones también!
                En "Cuidados los Patitos S.A" contamos con un equipo amable, atento y altamente capacitado que se
                esforzará al máximo
                para que tu mascota se sienta como en casa con las mejores atenciones y seguridad.
            </p>
            <p>
                Ya sea que necesites alojar a tu compañero peludo por una noche, un fin de semana o incluso una
                estadía más larga,
                puedes estar seguro de que él pasará sus días disfrutando de juegos supervisados con sus amigos
                peludos,
                en nuestros espacios multi-tematicos. Nuestro Hotel y Veterinaria para mascotas ofrece comodidades
                y cuidados excepcionales para que tu mascota disfrute de unas vacaciones inolvidables.
            </p>
            <p>
                ¡No esperes más y reserva las vacaciones perfectas para tu peludito!
            </p>
        </div>

    </section>

    <section id="petcare2">
        <h2>Pet Showrooms</h2>

        <div class="gallery">
            <div class="card">
                <img src="~/img/Public/espacio3.jpg" class="card-img-top" alt="Habitacion Gold">
                <div class="card-body">
                    <p class="card-text">Habitacion Gold</p>
                </div>
            </div>

            <div class="card">
                <img src="~/img/Public/espacio2.jpg" class="card-img-top" alt="Habitacion Gold">
                <div class="card-body">
                    <p class="card-text">Habitacion Platino</p>
                </div>
            </div>

            <div class="card">
                <img src="~/img/Public/espacio1.jpg" class="card-img-top" alt="Habitacion Gold">
                <div class="card-body">
                    <p class="card-text">Habitacion Diamante</p>
                </div>
            </div>

        </div>
    </section>

    <section id="schedule">

        <div class="sectioncheck">

            <div class="text-container">
                <h2>Check-In</h2>
                <p>
                    Reserva con Cuidados los patitos S.A, puedes crear tu reservaciones
                    desde nuestro sitio web, whatsapp o por llamada telefonica,
                    Consulta nuestra disponibilidad, El check-In se realiza entre las 9 am a 10 am,
                    Si cancelas tu reserva el dia de la reservacion, te penalizamos
                    con un 80% del valor de la reserva.
                </p>
            </div>

            <div class="text-container">
                <h2>Check Out</h2>
                <p>
                    El check-out se define al registrarse, te solicitamos indicarnos
                    la hora de salida al momento del Check-In para apoyarte en tener todo listo, en caso de un
                    Late-Check-Out, confirmar con 3 horas de anticipacion a la salida normal
                    del check-out, puedes realizar un Late-Check-Out de 4 horas.
                </p>
            </div>

            <div class="text-container">
                <h2>Tarifas</h2>
                <p>
                    Manejamos 3 Tarifas distintas por medio ede nuestros planes,
                    Gold, Platino y Diamante. Al momomento de reservar solicitamos el 80% del valor de la tarifa del
                    plan escogido, para tu primera estancia, te aplicacmos un 30% de descuento
                    como regalia en la primera experiencia de tu peludito.
                </p>
            </div>
        </div>

    </section>

</div>