<!--
 * Copyright [2023] [Allan Umana]
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * This source code file was created by [Allan Umana] and contains original code
 * created by me and my colleagues
 *
 * Contributions by:
 * - [Jonathan Rivera Vasquez]: [Refactoring of the structure]
 -->

@{
    ViewData["Title"] = "Especialistas";
}

<!-- Contenido de la página web -->
<div class="parallax3-bg">

    <section id="especial">

        <div class="black-section text-center">
            <h3>¡Nuestros Especialistas!</h3>
        </div>
        <div class="container">
            <div class="especial-container">
                <p>
                    Tu fiel compañero peludo será atendido por un equipo de especialistas cuidadores y veterinarios altamente capacitados y amantes de los animales! Nuestro equipo de especialistas cuidadores comprende la importancia del bienestar y la felicidad de cada mascota que nos visita.
                </p>
                <p>
                    Están dedicados a brindar un cuidado personalizado y cariñoso a cada uno de nuestros huéspedes peludos. Desde el momento en que tu mascota pone una pata en nuestro
                    hotel, nuestros cuidadores se esfuerzan por establecer una conexión con ellos, asegurándose de que se
                    sientan cómodos y seguros durante su estancia.
                    Nuestros especialistas cuidadores son expertos en el manejo y cuidado de diversas razas y temperamentos de
                    mascotas. Ya sea que
                    tu peludo amigo necesite jugar en nuestro espacioso y seguro patio de recreo, disfrutar de una agradable
                    caminata al aire libre,
                    o simplemente relajarse en su acogedora habitación, nuestros cuidadores estarán presentes para atender
                    todas
                    sus necesidades.
                </p>
            </div>

            <div class="gallery mb-5">
                <div class="photo">
                    <img src="~/img/Public/doctor1.png" alt="Imagen 1">
                    <div class="overlay"></div>
                </div>
                <div class="photo">
                    <img src="~/img/Public/doctor2.png" alt="Imagen 2">
                    <div class="overlay"></div>
                </div>
                <div class="photo">
                    <img src="~/img/Public/doctor3.png" alt="Imagen 3">
                    <div class="overlay"></div>
                </div>
            </div>
        </div>
    </section>
</div>
