.container-four{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../../img/Error/404.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -.01%;
}


.container-error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../../img/Error/Error.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -.01%;
}